.footer{
	padding-top: 35px;
	padding-bottom: 35px;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
	.logo{
		width: 215px;
		height: 20px;
	}
	.social-block{margin-left: auto;
	}
	.bg-decore {
		top: auto;
		bottom: 0;
		right: 15%;
		overflow: hidden;
		z-index: 1;
		svg {
			position: relative;
			top: 23%;
		}
        @media (max-width: 767px) {
		right: 0;
		svg {
			top: 0;
			left: 50%;
			right: auto;
		}
		}
	}
	.footer-content.flex-row{
		@media (max-width: 1023px) {
			flex-direction: column;
			text-align: center;
			row-gap: 10px;
			.social-block{
				margin-left: 0;
				margin-top: 20px;
				gap:35px;
				flex-wrap: wrap;
			}
		}
	}
}