.hero{
	background-image: url('../img/header_bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding-top: 240px;
	// padding-bottom: 40px;	
	overflow: hidden;
	position: relative;
	z-index: 2;
	.h1, h1, *{color: white}
	h2, .h2, .subtitle{font-family: $ff; font-weight: 400;}
	.hero-title{
		width:80%;
		max-width: 700px;
		&>*+*{margin-top: 30px;}
		@media (max-width: 1023px) {
		 width: 700px;
		}
		@media (max-width: 767px) {
			width: 100%;
		 &>*+* {
				margin-top: 15px;
			}
		 &> .button{margin-top: 30px;}
		}
	}
	.container{position: relative;
	z-index: 2;}
	.hero-animation{
		margin-top: -360px;
		position: relative;	
		z-index: 1;
		@media (max-width: 1199px) {
		 margin-top: -330px;
		 margin-left: 50px;
		}
		@media (max-width: 1023px) {
		   margin-top: -250px;
		}
		@media (max-width: 767px) {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 0;
			margin-left: 0;
		}
		}
	@media (max-width: 1023px) {
	 padding-top: 120px;
	}
	@media (max-width: 767px) {
	height: 98vh;
	max-height: 650px;;
	}
}
