section.about
	.container
		h1.h1 О нас
		.section-row
			.section-row__text
				p Если у вас есть предприятие и вы полны амбициями, целями роста и ищете отличного партнера, который поможет улучшить бизнес процессы и привлечь больше потенциальных клиентов, вы находитесь в нужном месте.
			
			button.button Начать разговор
		
		.section-img.w-650
			img.lazy(src="./img/about.webp", srcset="./img/about@2x.webp 2x" alt="img")
		.txt-right.w-650
			p Создание репрезентабельного веб-сайта поможет достичь главных целей бизнеса: привлечь новых клиентов, развивать отношения с существующими клиентами, создать профессиональный образ предприятия, улучшить позиции SEO и успешно презентовать Ваш продукт. Предлагаем адаптированные ИТ-решения с уникальным дизайном UX/UI на платформе Drupal8 или WordPress.
		
		.contacts-block
			h2.h3 Контакты
			.contacts-block__content
				p Нас просто найти. Давайте сотрудничать!
				address.link Brīvības iela 1, Rīga 
				a(href="tel:37122223333 ").link +371 2222 3333
				a(href="mailto:info@digitalnomad.com").link info@digitalnomad.com
