section.about.custom-text
	.container
		h1.h1 О нас
		.section-row
			.section-row__text
				p Digital Nomad — это агентство цифрового маркетинга и разработки, которое помогает бизнесам достигать успеха в онлайн-пространстве. Мы предоставляем полный спектр услуг — от создания веб-сайтов до продвинутой SEO-оптимизации и управления рекламными кампаниями. Наш подход основан на понимании уникальных целей каждого клиента и применении проверенных стратегий для достижения максимальных результатов.
			
			a(href="connect.html").button Заказать сайт
		
		
		h2 Наша миссия
		p Мы верим, что каждый бизнес заслуживает качественного онлайн-присутствия, которое приносит реальные результаты. Наша миссия — помогать компаниям выделяться на цифровом рынке и привлекать целевую аудиторию с помощью инновационных решений и индивидуальных подходов.
		h2 Что мы предлагаем
		p Digital Nomad предоставляет услуги по разработке веб-сайтов, SEO-оптимизации, контент-маркетингу и управлению рекламными кампаниями. Мы создаем адаптивные сайты с оригинальными дизайнами, проводим аудит сайтов для выявления проблем и увеличения конверсий, оптимизируем ваши ресурсы для повышения видимости в поисковых системах и помогаем строить эффективные стратегии продвижения.
		h2 Наши основные услуги включают:
		ul
			li #[strong Web Development] — создание высокопроизводительных сайтов, которые адаптированы для любых устройств.
			li #[strong Web Design] — разработка уникальных дизайнов, сочетающих стиль и удобство для пользователей.
			li #[strong Site Audit] — полный анализ сайта для улучшения его производительности и SEO.
			li #[strong SEO Optimisation] — повышение позиций вашего сайта в поисковых системах для увеличения органического трафика.
			li #[strong Google ADS] — настройка и управление рекламными кампаниями для увеличения продаж.
			li #[strong Google Tag Management] — установка и управление тегами для эффективного отслеживания данных.
			li #[strong LinkedIn & Google business account creation] — создание и оптимизация профилей для развития бизнеса.
			li #[strong Google Analytics account creation] — настройка аналитики для отслеживания эффективности сайта.
			li #[strong PBN Building] — создание и управление сетями блогов для усиления SEO.
			li #[strong Link Building] — создание качественных внешних ссылок для повышения авторитета сайта.
			li #[strong Content Creation] — разработка контента, который привлекает и удерживает аудиторию.
			li #[strong CRO (Conversion Rate Optimisation)] — анализ поведения пользователей с целью повышения конверсии.
			li #[strong Keyword Research] — подбор ключевых слов для максимальной релевантности вашего контента.

		h2 Почему выбирают нас
		p Мы гордимся тем, что создаем не просто красивые сайты, а эффективные инструменты для привлечения клиентов. Наши специалисты всегда в курсе последних тенденций и используют лучшие технологии, чтобы ваши проекты выделялись среди конкурентов. Индивидуальный подход к каждому клиенту и ориентация на результат делают нас надежным партнером для вашего бизнеса.
		
		.mt-40
			p Работайте с Digital Nomad, и вы получите не только профессиональные решения для продвижения в интернете, но и партнера, который поддержит ваш рост на каждом этапе пути.13:21
		