section.contacts
	.container
		h2.h1 Contacts
		.section-row
			.section-row__text
				p Мы поможем в привлечении новых клиентов и продажах через оптимизацию IT-решений. Давайте сотрудничать!
				.flex-row
					address Brīvības iela 1, Rīga 
					a(href="tel:37122223333 ").link +371 2222 3333
					a(href="mailto:info@digitalnomad.com").link info@digitalnomad.com
			
			a(href="connect.html").button Заказать звонок

		