footer.footer.bg-accent
	.bg-decore
		svg.svg-decore
			use(href='./img/sprite.svg#svg-decore')
	.container
		.footer-content.flex-row
			a(href="#!").logo
				svg.svg-logo
					use(href='./img/sprite.svg#svg-logo')
			p © 2024 DigitalNomad. Все права защищены.
			.social-block
				a(href="#!").social-item
					svg.svg-whatsapp
						use(href='./img/sprite.svg#svg-whatsapp')
				a(href="#!").social-item
					svg.svg-tg
						use(href='./img/sprite.svg#svg-tg')
				a(href="#!").social-item
					svg.svg-fb
						use(href='./img/sprite.svg#svg-fb')