.hero
	//- #animation_container
	//- 	canvas#canvas(style='position: absolute; display: block;')
	//- 	#dom_overlay_container(style='pointer-events:none; overflow:hidden;  position: absolute; left: 0px; top: 0px; display: block;')
		
		
	.container
