.hero
	.container
		.hero-title
			h1 Creativity and technology for digital excellence
			h2.subtitle Мы трансформируем рекламную индустрию совместно с брендами<br>Воплощаем технически масштабные и многофункциональные проекты<br>Решаем творчески самые амбициозные задачи для бизнеса
			a(href="#!").button Начать разговор
		.hero-img
			svg.svg-header-img
				use(href='./img/header-img.svg#header-img')