section.service-page
	.container
		h1.h1 Services
		.section-row
			.section-row__text
				p Мы осуществляем персонализированные проекты для бизнесов, воплощая и внедряя самые амбициозные задачи, находя творческие решения для каждого проекта. Наша работа на стыке создания контента, инновационных технологий, стратегии и аналитики
			button.button Заказать услугу

		.service-cards.two-columns
			a(href="#!").service-card
				.h2 Web Development& Design

				.service-card__icon
					img(src="./img/svg-icon1.svg", alt="")
				.txt-20
					p Web Development 
					p Web Design

		
			a(href="#!").service-card
				.h2 Analytics & Optimization

				.service-card__icon
					img(src="./img/svg-icon2.svg", alt="")
				.txt-20
					p Site Audit
					p SEO Optimization
					p CRO (Google Analytics, Microsoft Clarity, Google Console)
					p Keyword Research
		
		
			a(href="#!").service-card
				.h2 Advertising & Promotion
				.service-card__icon
					img(src="./img/svg-icon1.svg", alt="")
				.txt-20
					p Google ADS
					p PBN Building
					p Link Building

		
			a(href="#!").service-card
				.h2 Account Management & Creation
				.service-card__icon
					img(src="./img/svg-icon4.svg", alt="")
				.txt-20
					p Google Tag Management
					p LinkedIn Account Creation
					p Google Business Account Creation
					p Google Analytics Account Creation