section.single-service
	.container
		h1.h1 Создание веб-сайтов и дизайн
		.section-row
			.section-row__text
				p Предлагаем полный спектр услуг по разработке веб-сайтов и их дизайна, а так же цифровых платформ, от корпоративных сайтов до сложных веб-приложений.
				p Наша команда обеспечивает высокую производительность, безопасность и удобство использования, чтобы ваш онлайн-проект успешно реализовывал поставленные бизнес-задачи.
			button.button Заказать сайт
		
		.txt-right
			p Создание репрезентабельного веб-сайта поможет достичь главных целей бизнеса: привлечь новых клиентов, развивать отношения с существующими клиентами, создать профессиональный образ предприятия, улучшить позиции SEO и успешно презентовать Ваш продукт. Предлагаем адаптированные ИТ-решения с уникальным дизайном UX/UI на платформе Drupal8 или WordPress.
		//==== SLIDER ====
		.mt-120
			.swiper-container
				.cards-swiper.swiper
					.swiper-wrapper
						.swiper-slide
							a(href="single-service.html").service-card
								.h2 Web Development& Design

								.service-card__icon
									img(src="./img/svg-icon1.svg", alt="")
								.txt-20
									p Web Development 
									p Web Design

						.swiper-slide
							a(href="single-service.html").service-card
								.h2 Analytics & Optimization

								.service-card__icon
									img(src="./img/svg-icon2.svg", alt="")
								.txt-20
									p Site Audit
									p SEO Optimization
									p CRO (Google Analytics, Microsoft Clarity, Google Console)
									p Keyword Research
						
						.swiper-slide
							a(href="single-service.html").service-card
								.h2 Advertising & Promotion
								.service-card__icon
									img(src="./img/svg-icon1.svg", alt="")
								.txt-20
									p Google ADS
									p PBN Building
									p Link Building

						.swiper-slide
							a(href="single-service.html").service-card
								.h2 Account Management & Creation
								.service-card__icon
									img(src="./img/svg-icon4.svg", alt="")
								.txt-20
									p Google Tag Management
									p LinkedIn Account Creation
									p Google Business Account Creation
									p Google Analytics Account Creation