section.why-us
	.container
		h2.h3 Почему выбирают нас
		ul.grid-three-columns
			li.why-us__item
				.h4 Опыт и экспертиза
				p.txt-22 Мы применяем проверенные методы SEO, которые работают и дают реальные результаты.
			
			li.why-us__item
				.h4 Аналитика и отчеты
				p.txt-22 Мы предоставляем регулярные отчеты, чтобы вы могли отслеживать прогресс и видеть, как оптимизация влияет на позиции сайта и трафик.
			
			li.why-us__item
				.h4 Долгосрочный эффект
				p.txt-22 Наша работа нацелена на устойчивое увеличение видимости сайта и привлечение органического трафика на долгосрочной основе.
		
		h2.h3 Результат
		p.txt-22 SEO-оптимизация от нашего агентства позволит вашему сайту привлекать больше целевых пользователей, повышать конверсии и увеличивать доход. Чем выше позиции в поисковых системах — тем больше клиентов выберет именно вас!