section.portfolio-page
	.container
		h1.h1 Our works
		.section-row
			.section-row__text
				p Мультисервисное digital агентство, реализующее комплексные креативные кампании по продвижению бренда в digital-среде.
				p Основано в Латвии, обслуживая, обслуживая компании в любой точке мира.
			button.button Заказать услугу
		
		.portfolio-page-cards.two-columns
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(7, 156, 124, 0) 50%, #079c7c 100%);")
				.work-card__img
					img(src="./img/work1.webp", srcset="./img/work1@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Новый веб-сайт Bigbank
					p Web design, UI/UX design, Web development
		
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(5, 26, 17, 0.1) 0%, rgba(5, 26, 17, 0) 50%, #051a11 100%);")
				.work-card__img
					img(src="./img/work2.webp", srcset="./img/work2@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Интернет-магазин для Bosch
					p Web design, UI/UX design, Web development
		
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(57, 0, 90, 0) 25%, #39005a 100%);")
				.work-card__img
					img(src="./img/work3.webp", srcset="./img/work3@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Фирменный стиль для Indemand
					p Branding and Identity, UI/UX design, Web development
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(72, 72, 72, 0) 50%, #484848 100%);")
				.work-card__img
					img(src="./img/work4.webp", srcset="./img/work3@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Новый веб-сайт Bigbank
					p Branding and Identity, UI/UX design, Web development
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(7, 156, 124, 0) 50%, #079c7c 100%);")
				.work-card__img
					img(src="./img/work1.webp", srcset="./img/work1@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Новый веб-сайт Bigbank
					p Web design, UI/UX design, Web development
		
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(5, 26, 17, 0.1) 0%, rgba(5, 26, 17, 0) 50%, #051a11 100%);")
				.work-card__img
					img(src="./img/work2.webp", srcset="./img/work2@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Интернет-магазин для Bosch
					p Web design, UI/UX design, Web development
		
			.work-card
				span.work-card__gradient(style="background: linear-gradient(180deg, rgba(57, 0, 90, 0) 25%, #39005a 100%);")
				.work-card__img
					img(src="./img/work3.webp", srcset="./img/work3@2x.webp" width="475" height="325" alt="img")
				.txt-20
					p Фирменный стиль для Indemand
					p Branding and Identity, UI/UX design, Web development