
*, *:before, *:after {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  font-family: $ff;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
	-webkit-font-smoothing: antialiased;
  @media (max-width: 767px) {
  font-size: 16px;
  }

  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
  a{color: inherit; display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.container{
  width: 100%;
  max-width: 1040px;
  padding-inline: 20px;
  margin: 0 auto;
  
}
section{
  padding-top: 90px;
  padding-bottom: 90px;
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.flex-row,.social-block{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap:wrap;
}
/*typography*/
h1, h2, h3, h4{font-weight: 400;}
.h1, h1{
  font-size: 70px;
  line-height: 1;
  font-family: $fs;
  font-weight: 400;
  margin-bottom: 30px;
  @media (max-width: 767px) {
  font-size: 40px;
  line-height: 1.05;
  margin-bottom: 15px;
  }
}
.h2, .h3, h3, h2{
  font-size: 50px;
  font-family: $fs;
  font-weight: 500;
  @media (max-width: 1023px) {
    font-size: 34px;
  }
}
.h3, h3{
  font-size: 45px;
  font-weight: 400;
  color: $accent;
  margin-bottom: 20px;
  
    @media (max-width: 1023px) {
      font-size: 34px;
      margin-bottom: 15px;
    }
}
.h4, h4{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 8px;
  @media (max-width: 767px) {
  font-size: 16px;
  margin-bottom: 6px;
  }
}
.txt-20{font-weight: 400; margin-bottom: 0; font-size: 20px;}
.txt-14 {
  font-weight: 400;
 font-size: 14px;
}
.link{
   display: inline-block;
  transition: .3s; 
  &:hover{opacity: .7;}
}
.section-row{
   display: flex;
  align-items: flex-start;
  column-gap: 120px;
    &+* {
        margin-top: 60px;
      }
      &__text {
        width: 65%;
        max-width: 650px;
        &>*+*{margin-top: 20px;}
      }
  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap:32px;
    &__text{width: 100%;}
    .button{align-self: center;}
  }
  @media (max-width: 767px) {
     &+*{margin-top: 98px;}
  }
}
.subtitle, .txt-20{
  font-size: 20px;
  @media (max-width: 767px) {
  font-size: 16px;
  }
 
}
.bg-accent{background-color: $accent2;}
.bg-white {
  background-color: white;
  h2, h1, h3, .h1, .h2{color: $blue;}
}
.two-columns, .grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  @media (max-width: 1199px) {
    gap: 30px;
  }

  @media (max-width: 1023px) {
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    gap: 16px;
  }
}
.two-columns{
  grid-template-columns: 1fr 1fr;
}