*[class^="icon-"]{
	display: inline-block;
}
.svg-whatsapp, .svg-tg, .svg-fb, .svg-pin,
.svg-phone,
.svg-email{
	width: 25px;
	height: 25px;
	color: white;
	transition: .3s; 
	&:hover{color: $accent;}
}
.svg-benefit1,.svg-benefit2,.svg-benefit3{
	width: 150px;
	height: 150px;
}