extends ../layouts/layout-main.pug

block content
	include ../sections/_header.pug
	include ../sections/_hero.pug
	
	include ../sections/_services.pug
	include ../sections/_why-us.pug
	include ../sections/_works.pug


	
	
	
block variables
	-var title = "Page";
