extends ../layouts/layout-main.pug

block content
	include ../sections/_header.pug
	main.main
		include ../sections/_hero.pug
		include ../sections/_services.pug
		include ../sections/_why-us.pug
		include ../sections/_works.pug
		include ../sections/_contacts.pug
	include ../sections/_footer.pug



	
	
	
block variables
	-var title = "Page";
