extends ../layouts/layout-main.pug

block content
	include ../sections/_header.pug
	main.inner-main
		include ../sections/_works-page.pug
		
	include ../sections/_footer.pug



	
	
	
block variables
	-var title = "Portfolio";
