extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.inner-main
		include ../sections/_service-page.pug
		include ../sections/_why-us.pug
	include ../sections/_footer.pug
block variables
	-var title = "Services";
